html {
	font-size: 16px; 
	box-sizing: border-box; 
	scroll-behavior: smooth; 
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #010403;
	color: #a9a9a9;
}

img {
	width: 100%;
}



.hero__navbar {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hero__navbar nav {
	padding: 0 20px;
	display: flex;
	gap: 1.5rem;
}

.hero__navbar nav a {
	font-size: 110%;
	color: #a9a9a9;
	text-decoration: none;
	transition: all, .100s ease-in-out;
}
.hero__navbar nav a:hover {
	color: #fff;
}


.hero__container {
	padding: .01rem 0;
	min-height: calc(50vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero__img-container {
	display: flex;
	justify-content: center;
	width: 500px;
	height: 500px;
}
.hero__img-container img {
	width: 50%;
	height: 100%;
	border: 7px;
}
.hero__info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.hero__info h1 ,
.hero__subtitle{
	margin-top: 0%;
	margin-bottom: 1rem;
	font-size: 250%;
}

.hero__subtitle {
	color: #fff;
	font-size: 30px;
	
}

.hero__social {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
}
	
.hero__social i {
	font-size: 50px;
	color: #a9a9a9;
	transition: all, .100s ease-in-out;
}

.hero__social i:hover {
	color: #fff;
}
/* ------------------main------------- */
.wrapper {
	max-width: 35px 0;
	margin: 0 auto;
	text-align: center;
}

.about {
	padding: 5rem 20px;
}

.about__title {
	color: #fff;
	font-size: 4rem ;
}

.about__text {
	color: #a9a9a9;
	font-size: 2rem;
}
/* -----------------skills--------- */
.skills__title {
	color: #fff;
	font-size: 2rem ;
}
.skills__container{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 200px 200px;
	align-content: center;
	justify-content: center;
}
.skills_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.skills__container img{
	width: 100px;
	height: 100px;
}

.skills__container span{
	color: #fff;
}

.portafolio{
	padding: 80px 0px;
}

.portafolio__title {
	color: #fff;
	font-size: 2rem ;
}
.cards {

	display: flex;
	flex-direction:row;
	justify-content: center;
	
}
.card__item{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.card__item a {
	text-decoration: none;
	font-size: 1.5rem;
	color: #a9a9a9;
	transition: all .100s ease-in-out;
}
.card__item a:hover{
	color: #fff;
}
.cards img {
	width: 80%;
}


.academlo__footer{
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.academlo__footer h2{
	color: #fff;


}

@media (max-width:600px){
	.skills__container{
		display: flex;
		flex-direction: column;
	}
	.cards{
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	

	
}

